<h1 class="md-title">SIGN UP </h1>
 <md-content layout-padding>
 	<form name="signup" ng-submit="signups()">
 		<div layout="row">
 			<md-input-container flex="100">
 				<label>Frist Name</label>
 				<input required name="first_name" ng-model="project.first_name">
 				<div ng-messages="signup.first_name.$error">
 					<div ng-message="required">This is required.</div>
 				</div>
 			</md-input-container>
 		</div>
 		<div layout="row">
 			<md-input-container flex="100">
 				<label>Last Name</label>
 				<input required name="last_name" ng-model="project.last_name">
 				<div ng-messages="signup.last_name.$error">
 					<div ng-message="required">This is required.</div>
 				</div>
 			</md-input-container>
 		</div>
 		<div layout="row">
 			<md-input-container flex="100">
 				<label>Email</label>
 				<input required name="email" ng-model="project.email">
 				<div ng-messages="signup.email.$error">
 					<div ng-message="required">This is required.</div>
 				</div>
 			</md-input-container>
 		</div>
 		<div layout="row">
 			<md-input-container flex="100">
 				<label>City</label>
 				<input required name="city" ng-model="project.city">
 				<div ng-messages="signup.city.$error">
 					<div ng-message="required">This is required.</div>
 				</div>
 			</md-input-container>
 		</div>
 		<div>
 			<md-button type="submit" class="md-raised md-primary">Submit</md-button>
 		</div>

 		<a href="#/login">click here</a> to login
 	</form>
 </md-content>
