body{
	background-color:#fafafa; 
}
.header{
	background-color: #eb3349;
    background-image: -webkit-linear-gradient(45deg, #eb3349, #f45c43);
    background-image: linear-gradient(45deg, #eb3349, #f45c43);
}
.extraspace{height: 50px;}
.body{
	margin-left: auto;
	margin-right: auto;
	min-height: 700px;
}
.card {
    border-radius: 5px;
	margin-top: -50px;
	min-height: 700px;	
	padding: 20px;
}
.logo{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
    padding: 25px 0;
    color: #fafafa;
    font-weight: 900;
    font-style: italic;
}
md-content{background-color: #fff;}